.hike-item {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 1em;
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid var(--neutral-lt);
}

.hike-item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.hike-item__details {
  list-style: none;
  display: flex;
  gap: 1em;
}

.hike-item__title-group {
  order: 2;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
}

.hike-item__title {
  margin-bottom: 0;
}

.hike-item__distance {
  background: var(--primary);
  border-radius: 50%;
  order: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  font-family: var(--font-accent);
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 0.9;
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  padding-top: 0.3em;
}

.hike-distance__unit {
  font-size: 1rem;
  font-weight: normal;
  display: block;
}

.hike-details__date,
.hike-details__location {
  color: var(--neutral-mid);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}

.hike-details__date svg,
.hike-details__location svg {
  fill: var(--neutral-midlt);
  margin-right: 0.5em;
  position: relative;
  top: 2px;
}

.hike-details__location svg {
  height: 1.2em;
  width: 1.2em;
  top: 3px;
}

.hike-item__notes {
  grid-column-start: 1;
  grid-column-end: 6;
  background: var(--neutral-lt);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.16);
  border-radius: 0.5em;
  font-style: italic;
  font-size: 0.9rem;
  padding: 0.5em 1em;
}

.btn--hike-edit {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: 0;
}
.btn--hike-edit svg {
  width: 1.5em;
  height: 1.5em;
  fill: var(--neutral-midlt);
}
