.hikeslist {
}

.hikeslist__header {
  position: relative;
}

.heading--myhikes {
  font-size: 1.9rem;
}
.heading svg {
  fill: var(--primary);
  margin-right: 0.25rem;
  position: relative;
  top: 5px;
}

.btn--addHike {
  position: absolute;
  top: 0.5rem;
  right: 0;
  width: 2rem;
  height: 2rem;
  background: none;
  border: 0;
  font-size: 2rem;
  color: var(--primary);
  cursor: pointer;
}

.btn--addHike span {
  display: inline-block;
  text-indent: -999em;
}

.btn--addHike:hover {
  color: var(--primary-hover);
  transition: all 0.2s;
}

.hikeslist__filters {
  display: flex;
  column-gap: 1em;
}

.hikeslist__list {
  margin: 1.5em 0;
}

.total__header {
  text-align: center;
  font-family: var(--font-accent);
  font-size: 1.1rem;
  margin-bottom: 1em;
}

.total__header svg {
  fill: var(--primary);
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: 0.35em;
}

.total__amt {
  display: inline-block;
  padding-left: 0.25em;
  font-weight: normal;
}

.text--empty {
  font-style: italic;
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  border: 3px dashed var(--neutral-lt);
  color: var(--neutral-mid);
}
