* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #95cd43;
  --primary-lt: #9fd948;
  --neutral-dark: #474e3d;
  --neutral-dark-rgb: 70, 77, 61;
  --neutral-mid: #747762;
  --neutral-midlt: #bdbdb2;
  --neutral-lt: #f7f5f0;
  --white: #ffffff;
  --font-accent: Neuton, Cambria, Cochin, Georgia, Times, 'Times New Roman',
    serif;
  --font-primary: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

body {
  background: var(--neutral-lt);
  font-family: var(--font-primary);
  color: var(--neutral-dark);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-accent);
  margin-bottom: 0.4rem;
}

input {
  font-family: var(--font-primary);
}

a {
  color: var(--neutral-mid);
  text-decoration-color: var(--neutral-midlt);
  text-underline-offset: 1px;
}

a:hover {
  color: var(--neutral-dark);
  text-decoration-color: var(--neutral-mid);
}

.select-reset {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
