.header {
  margin-top: 2em;
}

.header__logo {
  min-height: 150px;
  background: url('../img/logo-footsteps.svg') no-repeat top center;
  text-indent: -999em;
}

.nav__btn {
  position: absolute;
  top: 0.15em;
  right: 0.1em;
  z-index: 999;
  cursor: pointer;
  font-size: 1.75rem;
  line-height: 0.8;
  padding: 0.15em 0.25em;
  background: none;
  border: 0;
  color: var(--neutral-mid);
}

.nav__btn:focus-visible {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  transform: scale(1.1);
  outline: 2px solid rgba(0, 0, 0, 0.3);
}

.nav--open .nav__btn {
  color: var(--white);
}

.nav__btn span {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.nav__list {
  display: grid;
  justify-content: center;
  place-items: center;
  list-style: none;
}

.nav--closed .nav__list {
  height: 0;
  width: 0;
  top: -999em;
  opacity: 0;
}

.nav--open .nav__list {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(var(--neutral-dark-rgb), 0.95);
  opacity: 1;
  z-index: 990;
}

.nav__list-item {
  margin-bottom: 0.5em;
}

.nav__list-link {
  color: var(--neutral-lt);
  font-family: var(--font-accent);
  text-decoration: none;
  font-size: 1.5rem;
}

.main {
  background: var(--white);
  border-radius: 0.5em;
  box-shadow: 0px 0px 0.2em rgba(0, 0, 0, 0.16);
  margin: 0 1.25em;
  padding: 0.5em 1.25em;
  line-height: 1.6;
}
