.ReactModal__Overlay {
  background-color: rgba(var(--neutral-dark-rgb), 0.75) !important;
}

.modal--create-hike {
  max-width: 500px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.5em 2em 1em;
  text-align: center;
  box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 1em;
}

.btn-close-modal {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-close-modal svg {
  fill: var(--neutral-mid);
}

.modal__title {
  font-size: 1.8rem;
  margin-bottom: 0.5em;
}

.form__group {
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__group label {
  margin-bottom: 0.15em;
  font-weight: bold;
}
.form__group input,
.form__group textarea {
  text-align: center;
  padding: 0.35em;
  font-size: 0.9rem;
  background: var(--neutral-lt);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.16);
  border-radius: 0.5em;
  border: 1px solid var(--neutral-midlt);
  width: 350px;
}

.form__group textarea {
  padding: 0.5em;
  font-family: var(--font-primary);
}

.btn--add-hike {
  padding: 0.35em 1em 0.5em;
  font-weight: bold;
  background: var(--neutral-dark);
  color: #fff;
  border: 0;
  border-radius: 0.5em;
  font-size: 1.15em;
  font-family: var(--font-accent);
  margin-top: 0.25em;
  cursor: pointer;
}

.btn--remove-hike {
  background: none;
  border: none;
  color: var(--color-warning);
  font-size: 0.9rem;
  display: block;
  margin: 0.75em auto;
}
